@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #18181b;
  --background: #fafafa;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #fafafa;
    --background: #18181b;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}
